---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
    <div class="bg-gray-900 pt-14 h-fit grid justify-items-center items-center">
        <div class="grid grid-cols-2 gap-20 w-3/4 my-20">
            <div class="bg-gray-200 h-fit p-6 rounded-md border-2 border-rose-500 grid gap-5">
                <h1 class="bg-rose-500 rounded-md p-2 text-center self-end">My first portfolio (Dynamic)</h1>
                <img src="/old-portfolio.png">
            </div>
            <div class="bg-gray-200 h-fit p-6 rounded-md border-2 border-rose-500 grid gap-5">
                <h1 class="bg-rose-500 rounded-md p-2 text-center self-end">First e-commerce fully integrated with PayPal API</h1>
                <img src="/first-ecommerce.png">
            </div>
            <div class="bg-gray-200 h-fit p-6 rounded-md border-2 border-rose-500 grid gap-5">
                <h1 class="bg-rose-500 rounded-md p-2 text-center self-end">Tetris with vanilla javascript</h1>
                <img src="/tetris.png">
            </div>
            <div class="bg-gray-200 h-fit p-6 rounded-md border-2 border-rose-500 grid gap-5">
                <h1 class="bg-rose-500 rounded-md p-2 text-center self-end">Social website like twitter</h1>
                <img src="/social website/home.png">
            </div>
        </div>
    </div>
</Layout>
