<div id="about" class="h-screen pt-14 w-full flex justify-around items-center">
    <div>
        <h2 class="text-center">About me!</h2>
        <img src="/diego.jpg" width="300px" class="rotate-180" />
    </div>
    <section class="w-2/4 h-full flex flex-col gap-10 justify-center">
        <p class="leading-[30px]">
            Soy Diego D'Angelo, un desarrollador web apasionado y dedicado con
            sólida experiencia en backend y frontend.
        </p>
        <p>
            Mi motivación consiste en crear soluciones que satisfagan las
            necesidades de mis clientes, esforzándome siempre por llevar cada
            proyecto al siguiente nivel.
        </p>
        <p>
            Mi objetivo es continuar creciendo como profesional y contribuir al
            éxito de grandes proyectos. ¡Espero la oportunidad de colaborar con
            vos!
        </p>
    </section>
</div>
