<div class="w-fit bg-transparent m-auto flex flex-col gap-10 p-10">
    <div>
        <h2 class="text-center">Contact me!</h2>
    </div>
    <div class="bg-gray-200 text-black rounded-lg p-5">
        <form class="flex flex-col gap-10">
            <div class="placeholder-container">
                <input id="name-input" required placeholder="" class="bg-transparent border-b-2 border-rose-500 focus:outline-none" type="text">
                <label for="name-input" class="placeholder">
                    <span>Your name</span>
                </label>
                <div class="bottom-bar"></div>
            </div>
            <div class="placeholder-container">
                <input id="email-input" required placeholder="" class="bg-transparent border-b-2 border-rose-500 focus:outline-none" type="email">
                <label for="email-input" class="placeholder">
                    <span>Your email</span>
                </label>
                <div class="bottom-bar"></div>
            </div>
            <div class="placeholder-container">
                <input id="msg-input" required placeholder="" class="bg-transparent border-b-2 border-rose-500 focus:outline-none" type="text">
                <label for="msg-input" class="placeholder">
                    <span>Your message</span>
                </label>
                <div class="bottom-bar"></div>
            </div>
        </form>
        <button type="submit">Send Message</button>
    </div>
</div>

<style>
    .placeholder-container {
        position: relative;
    }

    .placeholder-container input:is(:not(:placeholder-shown), :focus) ~ .bottom-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: pink;
    }

    .placeholder-container input:is(:not(:placeholder-shown), :focus) + .placeholder {
        transform: translateY(-20px);
    }

    .placeholder {
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 0.2s ease;
    }

    .bottom-bar {
        width: 0%;
        transition: width 0.2s ease;
    }
</style>